@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #0f152e;
    margin: none;
}

.container {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titletext {
    font-size: 128px;
    font-family: 'Noto Sans Display', sans-serif;
    background: -webkit-linear-gradient(0deg, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 52px;
    background: -webkit-linear-gradient(180deg, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 36px;
    background: -webkit-linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    margin: 0%;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Noto Sans Display', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00000000;
    font-size: 22px;
}
    
li {
    float: left;
}
    
li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover:not(.active) {
    background-color: #3a3e52;
    border-radius: 10px;
}
    
.active {
    background-color: #292D3E;
    border-radius: 10px;
}

a.button6 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    color: #FFFFFF;
    background-color: #18235f;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
    }
}